In [34]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

## **LOAD DATA**

In [2]:
df = pd.read_csv('data.csv')
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

## **MODELING**

In [15]:
X = df.drop('diagnosis', axis=1)
X.fillna(0, inplace=True)
y = df['diagnosis']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

**K-NEIGHBOURS CLASSIFIER**

In [23]:
grid_params = {'n_neighbors': [3,6,9,12],
               'weights': ['uniform', 'distance'],
               'metric': ['euclidean', 'manhattan'],
               'n_jobs': [1, -1]}

In [24]:
grid_search = GridSearchCV(KNeighborsClassifier(),grid_params, verbose=1, cv=3, n_jobs=1)

In [25]:
gs = grid_search.fit(X_train,y_train)

Fitting 3 folds for each of 32 candidates, totalling 96 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  96 out of  96 | elapsed:    1.0s finished

In [26]:
gs.best_params_

{'metric': 'manhattan', 'n_jobs': 1, 'n_neighbors': 3, 'weights': 'distance'}

In [27]:
model = KNeighborsClassifier(n_neighbors=3, weights='distance',metric='manhattan',n_jobs=1)

In [28]:
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=1, n_neighbors=3, p=2,
                     weights='distance')

In [29]:
y_pred = model.predict(X_test)

In [32]:
accuracy_score(y_test, y_pred)

0.8011695906432749

In [36]:
confusion_matrix(y_test, y_pred, labels=['M', 'B'])

array([[45, 18],
       [16, 92]])